body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h1{
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

/* ul,li input[type=text]{
  display: none;
}

ul,li.edit input[type=text]{
  display: block;
} */

.show{
  display: block;
}

.hide{
  display: none;
}
}
